
.carrerDotss {
  width: 8px;

  height: 8px;

  margin-right: 8px;
  transition: 2s ease;
}
.beyondcodediv{
  margin-left: 40px;
}
.imgpass{width: 100%;
  height: 100%;
  object-fit: cover;
}
.passimgdiv{
   height: 280px;
   max-width: 300px;
  overflow: hidden;
}
/* @keyframes bankai {
  0% {
    box-shadow: 0 0 6px aliceblue;
  }
  50% {
    box-shadow: 0 0 22px aqua;
  }
  100% {
    box-shadow: 0 0 6px aliceblue;
  }
} */

.ve:hover{
  box-shadow: 0 0 22px aqua;
  transform: translateY(-5px);
  transition: 0.3s transform ease-in-out;
}
.divcards1{
 flex: 0 0 300px;
 /* animation: bankai 2s ease-in-out infinite; */

  
  border-radius: 16px;
  box-shadow: 0px 0px 10px aliceblue;
  overflow: hidden;
 

  scroll-snap-align: start;
 max-width: 300px;
  display: flex;
  flex-direction: column;
  
  border: solid 2px aliceblue;
  
}
.beyondcodedescrip{
  max-width: 1100px;
}
.discription1{
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-left: 22px;
}
.discripname1{
  color:  rgb(247, 152, 44);
  display: flex;
  justify-content: center;
}
@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.beyondcodedescrip{
   color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}
.passioncards{
  display: flex;
  height: auto;
  margin-top: 100px;
  
  object-fit: cover;
  flex-wrap: wrap;

  
  justify-content: center;
  gap: 20px;

}
.beyodsme{
  color: rgb(247, 152, 44);
  font-size: 50px;
}
.wess {
  animation: rotateIcon 2s linear infinite ;
}
.beyondname{
    display: flex;
    align-items: center;
   
  
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
}