.touch{
    display: flex;
    
    align-items: center;
    color: aliceblue;
}
.contactdiv{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    margin-left: 40px;
}
.footes{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
.email {
  text-decoration: none;
  cursor: pointer;
  background-color: linear-gradient(180deg, #0F172A 0%, #020617 100%);
  display: flex;
  padding: 15px;
  color: aliceblue;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgb(247, 152, 44);
 
}
.email:hover .emailsd {
  color: rgb(247, 152, 44);
}
.email:hover .dds{
     color: rgb(247, 152, 44);

}
.footers{
    color: black;
    background-color:  rgb(247, 152, 44);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.emailimg{
    display: flex;
    align-items: center;
    gap: 30px;
    color: aliceblue;
}
.contactsection{
    background-color: linear-gradient(180deg, #0F172A 0%, #020617 100%);
}

