.section1 {
    color: gold;
    display: flex;
    position: relative;
    margin-top: 60px;
   
    gap: 50px; 
    align-items: center; 
}
.tagline{
  margin-left: 40px;
  color: white;
  opacity: 0.8;
  font-size: 20px;
  
}

.images {
    width: 400px;
    height: 500px;
    border-radius: 150px 0px;
    opacity: 0.7;
    object-fit: cover;
    display: block; 
    transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1);
}
.dominname{
  margin-left: 40px;
  color :rgb(247, 152, 44);
  font-size: 40px;
  
  
 
}
.section1namess{margin-left: 40px; font-size: 70px;
 
  color :rgb(247, 152, 44);
}
.imagediv:hover{
    transform: translateX(8px);
   
}



.imagediv {
    border: solid 3px rgb(247, 152, 44); 
    border-radius: 150px 0px;
    box-shadow: 0px 0px 35px rgb(247, 152, 44);
    overflow: hidden; 
    flex-shrink: 0; 
    transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1);
      margin-bottom: 120px;
}
.resumePROJECTS{
    display: flex;
    margin-left: 40px;
    margin: 50px;
    display: flex;
    align-items: center;
}
.ViewProjects{
   font-size: 18px;
    background-color:white;
    color: black;
    font-weight: bold;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    
   

   
}
.ViewProjects:hover{
    transform: translateY(-3px);
    transition: transform 1s ease;
    background-color: rgb(247, 152, 44) ;
    transition: background-color 0.5s ease-in;
}
.getqoute:hover,.resume:hover{
    transform: translateY(-3px);
    transition: transform 1.5s ease;
    background-color: white ;
    transition: background-color 0.5s ease-in;
}
.resume{margin-left: 25px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 152, 44) ;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
     border-radius: 6px;
    

}
.getqoute{
    margin-left: 25px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 152, 44) ;
    padding: 12px;
    color: black;
    font-weight: bold;
    font-size: 18px;
     border-radius: 6px;
     transition: transform 0.7s  ;
}
a{text-decoration: none;
color: black;
font-size: 18px;}
#spans1{
   
    transition: transform 0.7s  ;
}

.title3,.title2,.title1{
    color: rgb(247, 152, 44) ;
}

@media screen and (max-width: 800px) {
    .section1 {
        flex-direction: column;
        align-items: center;
        gap: 30px; 
    }
    .section1namess{
        font-size: 50px;
    }
    .ViewProjects,.getqoute{
        padding: 10px;
    }
    .dominname{
        font-size: 30px;

    }
    .tagline{
        font-size: 14px;
    }
    
    .imagediv {
        margin-left: 0; 
        margin-bottom: 40px;
    }
    
    .images {
        width: 300px; 
        height: 400px;
    }
}